CLANG_CXX_LANGUAGE_STANDARD = c++17
CLANG_CXX_LIBRARY = libc++
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = NO
CONFIGURATION_BUILD_DIR = ${PODS_CONFIGURATION_BUILD_DIR}/runevm_fl
DEFINES_MODULE = YES
ENABLE_BITCODE = NO
FRAMEWORK_SEARCH_PATHS = $(inherited) "${PODS_ROOT}/../.symlinks/plugins/runevm_fl/ios"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1
HEADER_SEARCH_PATHS = $(inherited) "${PODS_TARGET_SRCROOT}/install-ios-rel/include/" "${PODS_TARGET_SRCROOT}/../extern/fmt/include/" "${PODS_TARGET_SRCROOT}/../extern" "${PODS_TARGET_SRCROOT}/../cpp/"
LIBRARY_SEARCH_PATHS = $(inherited) "${PODS_ROOT}/../.symlinks/plugins/runevm_fl/ios/install-ios-rel/lib" "${PODS_TARGET_SRCROOT}/install-ios-rel/lib/"
OTHER_LDFLAGS = $(inherited) -l"fmt" -l"m3" -l"rune_vm" -framework "TensorFlowLiteC"
OTHER_SWIFT_FLAGS = $(inherited) -D COCOAPODS
PODS_BUILD_DIR = ${BUILD_DIR}
PODS_CONFIGURATION_BUILD_DIR = ${PODS_BUILD_DIR}/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
PODS_ROOT = ${SRCROOT}
PODS_TARGET_SRCROOT = ${PODS_ROOT}/../.symlinks/plugins/runevm_fl/ios
PODS_XCFRAMEWORKS_BUILD_DIR = $(PODS_CONFIGURATION_BUILD_DIR)/XCFrameworkIntermediates
PRODUCT_BUNDLE_IDENTIFIER = org.cocoapods.${PRODUCT_NAME:rfc1034identifier}
SKIP_INSTALL = YES
USE_RECURSIVE_SCRIPT_INPUTS_IN_SCRIPT_PHASES = YES
